{% extends "base.html" %}
{% block content %}
  <div class="hamburger-menu d-lg-none">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Base de Conocimiento</h1>
        <div class="breadcrumbs">
          <ul class="d-flex flex-wrap align-items-center p-0 m-0">
            <li><a href="/categoria/crearCategoria">Registrar Categoria</a></li>
            <li><a href="/categoria/listarCategoria">Listar categoria</a></li>
          </ul>
          <ul class="d-flex flex-wrap align-items-center p-0 m-0">
            <li><a href="/conocimientos/crearConocimiento">Registrar Conocimiento</a></li>
            <li><a href="/conocimientos/listarConocimiento">Listar Conocimiento</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img class="header-img" src="images/about-bg.png" alt="">
  </header>
  <link rel="stylesheet" href="/stylesheets/app/estilos.css">
  <div class="container">
    <div class="col-md-12">
      <div class="card card-register mx-auto mt-5" style=" border-bottom-color: #558ed4;
      border-bottom-width: thick;">
      <div class="card-header letra color-background" style="background-color: rgb(85, 142, 212); text-align: center;
      ">Ingrese Nueva Categoria</div>
      <form class="form-horizontal ajax-form" role="form" method="post" url="/categoria/crearCategoria">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-2" style="margin-bottom: 10px;">
              <label for="inputUsername" class="control-label">Nombre: </label>
            </div>
            <div class="col-12 col-md-10">
              <input type="text" class="form-control" name="nombre" id="nombre"
              placeholder="Ingrese el nombre de la categoria" >
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" value="submit" class="btn btn-warning">Enviar</button>
          <button type="submit" value="submit" class="btn btn-warning">Cancelar</button>
        </div>
      </form>
      <br>
    </div>
  </div>
  </div>
{% endblock %}