{% extends "base.html" %}
{% block content %}
  <div class="hamburger-menu d-lg-none">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>ERROR</h1>
        <div class="breadcrumbs">
          <ul class="d-flex flex-wrap align-items-center p-0 m-0">
            <li><a href="#">ERROR</a></li>
            <li>ERROR</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img class="header-img" src="/images/contact-bg.png" alt="">
  </header>
  <div class="our-departments">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="our-departments-wrap">
            <h2>ERROR</h2>
            <div class="row">
             <section id="error">
              <div class="container">
                <div class="row about-us-text">
                  <div class="col-md-12">
                    <div class="text-center">
                      <h4>La pagina que esta buscando no existe o fue removida.</h4>
                      <h4>Si tiene preguntas contactese al numero 71724947.</h4>
                    </div>
                  </div>
                </div> 
              </div> 
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
