{% extends "base.html" %}
{% block content %}
  <div class="hamburger-menu d-lg-none">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Contacto</h1>
        <div class="breadcrumbs">
          <ul class="d-flex flex-wrap align-items-center p-0 m-0">
            <li><a href="#">Principal</a></li>
            <li>Contacto</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img class="header-img" src="/images/contact-bg.png" alt="">
  </header>
  <div class="contact-page-short-boxes">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="contact-info h-100">
            <h2 class="d-flex align-items-center">Informacion de Contacto</h2>
            <ul class="p-0 m-0">
              <li><span>Ubicacion:</span>&nbsp Av. San Martin N°173 entre Bolivar y Heroinas edificio PALMER 1er piso Oficina N°2</li>
              <li><span>Telefono:</span>4038290 - 70715092</li>
              <li><span>Correo:</span>tuCorreo@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-lg-0">
          <div class="opening-hours h-100">
            <h2 class="d-flex align-items-center">Horario de Atencion</h2>
            <ul class="p-0 m-0">
              <li>Lunes - Jueves <span>8:00 - 19:00</span></li>
              <li>Viernes <span>8:00 - 18:30</span></li>
              <li>Sabado <span>9:30 - 16:00</span></li>
              <li>Domingo <span>Cerrado</span></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-lg-0">
          <div class="emergency-box h-100">
            <h2 class="d-flex align-items-center">Emergencia</h2>
            <div class="call-btn text-center">
              <a class="d-flex justify-content-center align-items-center button gradient-bg" href="#"><img src="/images/emergency-call.png"> 70715092</a>
            </div>
            <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus mauris sceler isque, at rutrum nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Consultas</h2>
        </div>
        <div class="col-12  col-md-4">
          <input type="text" placeholder="Nombre">
        </div>
        <div class="col-12 col-md-4">
          <input type="email" placeholder="Correo Electronico">
        </div>
        <div class="col-12 col-md-4">
          <input type="text" placeholder="Tema">
        </div>
        <div class="col-12">
          <textarea name="name" rows="12" cols="80" placeholder="¿Que consulta tiene?"></textarea>
        </div>
        <div class="col-12">
          <input type="submit" name="" value="Enviar Mensaje" class="button gradient-bg">
        </div>
      </div>
    </div>
  </div>
{% endblock %}